{% extends 'ems/base.html'%}

{% load static %}

{% block content %}

<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card">
      <img src="{% static 'pic1.png' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">IT Department</h5>
        <p class="card-text">IT employee</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="{% static 'pic2.png' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Sales Department</h5>
        <p class="card-text">Sales data</p>
      </div>
    </div>
  </div>
</div>
<br>

{% endblock %}